.DS_Store
.project
.pydevproject

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

.ipynb_checkpoints/


*.pyc
*.p
*.pkl 

*/.floyd*

dog-project/.DS_Store
dog-project/dogImages/
dog-project/lfw/
dog-project/.ipynb_checkpoints/
dog-project/bottleneck_features/
dog-project/__pycache__/
dog-project/__MACOSX/
dog-project/.gitignore.swp
tv-script-generation/__pycache__/
